html {
  scroll-behavior: smooth;
  overflow-y: visible;
}
html body {
  margin: 50px 0 0 0;
}
html body nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 980;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 10px -1px black;
  background-color: rebeccapurple;
}
html body nav img {
  cursor: pointer;
  user-select: none;
}
html body .filter_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 300px;
  height: 450px;
  top: -1000px;
  left: 50%;
  margin-left: -150px;
  z-index: 985;
  background-color: #d2baba;
  transition: all 0.75s ease;
}
html body .filter_menu .filter_dropdowns_wrapper {
  margin: 15px 10px 5px;
}
html body .filter_menu .filter_dropdowns_wrapper .filter_dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
html body .filter_menu .filter_dropdowns_wrapper .filter_dropdown select {
  height: 30px;
  align-self: center;
}
html body .filter_menu .filter_tags_wrapper {
  display: grid;
  gap: 10px;
  margin: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: minmax(45px, auto);
}
html body .filter_menu .filter_tags_wrapper .filter_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  background-color: black;
  color: #8b0000;
}
html body .filter_menu .filter_buttons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
html body .filter_menu .filter_buttons_wrapper .filter_button {
  width: 60px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  color: #bcbcbc;
}
html body .filter_menu .filter_buttons_wrapper #filter_reset_button {
  background-color: #de0a0a;
}
html body .filter_menu .filter_buttons_wrapper #filter_apply_button {
  background-color: #316d2d;
}
html body aside {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1000;
  top: 0;
  right: 0;
  transition: 0.5s;
  background-color: black;
  color: wheat;
}
html body .dimmed_overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.85);
}
html body .hotel_list {
  display: grid;
  gap: 20px 40px;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
}
html body .hotel_list .hotel_expanded {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}
html body .hotel_list .hotel_expanded .close_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  color: #bcbcbc;
  background-color: #de0a0a;
}
html body .pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: 30px 0;
}
html body .pagination a {
  float: left;
  width: 60px;
  margin: 0 8px;
  padding: 8px 16px;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: #3c146b;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
