@media only screen and (max-width: 600px) {
  .hotel_name {
    margin-top: 50px !important;
  }

  .room_wrapper {
    grid-template-areas: "image image" "name name" "info info" "price button" !important;
  }
  .room_wrapper .room_image {
    justify-self: center !important;
  }
  .room_wrapper .room_info {
    margin: 10px 0 20px !important;
  }
  .room_wrapper .room_price {
    justify-self: start !important;
    align-self: center !important;
  }
  .room_wrapper .reserve_button {
    justify-self: end !important;
    align-self: center !important;
  }
}
html {
  scroll-behavior: smooth;
  overflow-y: visible;
  user-select: none;
}
html body {
  margin: 50px 0 0 0;
}
html body .square_button {
  width: 80px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  color: #bcbcbc;
}
html body nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 975;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 10px -1px black;
  background-color: rebeccapurple;
}
html body nav img {
  cursor: pointer;
}
html body .filter_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  z-index: 980;
  height: 450px;
  top: -1000px;
  background-color: #d2baba;
  transition: all 0.75s ease;
}
html body .filter_menu .filter_dropdowns_wrapper {
  margin: 15px 10px 5px;
}
html body .filter_menu .filter_dropdowns_wrapper .filter_dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
html body .filter_menu .filter_dropdowns_wrapper .filter_dropdown select {
  height: 30px;
  align-self: center;
}
html body .filter_menu .filter_tags_wrapper {
  display: grid;
  gap: 10px;
  margin: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: minmax(45px, auto);
}
html body .filter_menu .filter_tags_wrapper .filter_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: black;
  color: #8b0000;
}
html body .filter_menu .filter_menu_buttons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
html body .filter_menu .filter_menu_buttons_wrapper #filter_reset_button {
  background-color: #de0a0a;
}
html body .filter_menu .filter_menu_buttons_wrapper #filter_apply_button {
  background-color: #316d2d;
}
html body .reserve_popup {
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  z-index: 990;
  display: none;
  flex-direction: column;
  align-items: center;
  top: 100px;
  height: 450px;
  background-color: #4f5e70;
}
html body .reserve_popup .name_and_price_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 20px 0 5px;
}
html body .reserve_popup .date_inputs_wrapper {
  margin-bottom: 5px;
}
html body .reserve_popup .credentials_inputs_wrapper {
  margin: 5px 0 10px;
}
html body .reserve_popup .reserve_popup_buttons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
html body .reserve_popup .reserve_popup_buttons_wrapper #reserve_cancel_button {
  background-color: #de0a0a;
}
html body .reserve_popup .reserve_popup_buttons_wrapper #reserve_reserve_button {
  background-color: #316d2d;
}
html body .reserve_popup .input_wrapper {
  margin: 15px 0;
}
html body .reserve_popup .input_wrapper label {
  display: block;
  text-align: left;
  margin: 5px 0;
}
html body .reserve_popup .input_wrapper label h4 {
  margin: 10px 0;
}
html body .reserve_popup_dimmed_overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 985;
  background-color: rgba(0, 0, 0, 0.85);
}
html body aside {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1000;
  top: 0;
  right: 0;
  transition: 0.5s;
  background-color: black;
  color: wheat;
}
html body .side_menu_dimmed_overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 995;
  background-color: rgba(0, 0, 0, 0.85);
}
html body .hotel_list {
  display: grid;
  gap: 20px 40px;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
}
html body .hotel_list .hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
}
html body .hotel_list .hotel .country_and_city_wrapper {
  text-align: center;
}
html body .hotel_list .hotel .hotel_image {
  width: 300px;
  height: 200px;
  margin: 0 20px 25px;
}
html body .hotel_list .hotel .hotel_tags {
  width: 300px;
  text-align: center;
}
html body .hotel_list .hotel .close_button {
  display: none;
}
html body .hotel_list .hotel .hotel_description {
  display: none;
}
html body .hotel_list .hotel .room_list {
  display: none;
}
html body .hotel_list .hotel_expanded {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}
html body .hotel_list .hotel_expanded .close_button {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #de0a0a;
}
html body .hotel_list .hotel_expanded .hotel_description {
  display: block;
  margin: 10px 20px;
  width: 85%;
}
html body .hotel_list .hotel_expanded .room_list {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: #c1a72e;
}
html body .hotel_list .hotel_expanded .room_list .room_wrapper {
  display: grid;
  margin: 5px;
  padding: 10px;
  background-color: #dd9745;
  grid-template-areas: "image info price" "name info button";
}
html body .hotel_list .hotel_expanded .room_list .room_image {
  grid-area: image;
  margin: 0;
}
html body .hotel_list .hotel_expanded .room_list .room_name {
  grid-area: name;
  text-align: center;
  margin: 10px 0;
}
html body .hotel_list .hotel_expanded .room_list .room_info {
  grid-area: info;
  margin: 0 10px;
}
html body .hotel_list .hotel_expanded .room_list .room_price {
  grid-area: price;
  margin: 0;
  text-align: center;
}
html body .hotel_list .hotel_expanded .room_list .reserve_button {
  grid-area: button;
  background-color: #3d0bb3;
  margin: 0 0 10px;
}
html .pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: 30px 0;
}
html .pagination a {
  float: left;
  width: 60px;
  margin: 0 8px;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: #3c146b;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
