$navbar-height: 50px;
$filter-menu-width: 300px;
$reserve-popup-width: 300px;

$side-menu-z-index: 1000;
$side-menu-dimmed-overlay-z-index: 995;
$reserve-popup-z-index: 990;
$reserve_popup_dimmed_overlay-z-index: 985;
$filter-menu-z-index: 980;
$navbar-z-index: 975;


@mixin centered-popup($width, $z-index) {
  position: fixed;
  width: $width;
  left: 50%;
  margin-left: -$width / 2;
  z-index: $z-index;
}

@mixin dimmed-overlay($z-index) {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index;
  background-color: rgba(0, 0, 0, 0.85);
}

@media only screen and (max-width: 600px) {
  .hotel_name {
    margin-top: 50px !important;
  }

  .room_wrapper {
    grid-template-areas:
            "image image"
            "name name"
            "info info"
            "price button" !important;

    .room_image {
      justify-self: center !important;
    }

    .room_info {
      margin: 10px 0 20px !important;
    }

    .room_price {
      justify-self: start !important;
      align-self: center !important;
    }

    .reserve_button {
      justify-self: end !important;
      align-self: center !important;
    }

  }
}

html {
  scroll-behavior: smooth;
  overflow-y: visible;
  user-select: none;

  body {
    margin: $navbar-height 0 0 0;

    .square_button {
      width: 80px;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      border-radius: 10px;
      color: #bcbcbc;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      position: fixed;
      z-index: $navbar-z-index;
      top: 0;
      width: 100%;
      height: $navbar-height;

      box-shadow: 0 4px 10px -1px black;
      background-color: rebeccapurple;

      img {
        cursor: pointer;
      }
    }

    .filter_menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include centered-popup($filter-menu-width, $filter-menu-z-index);
      height: 450px;
      top: -1000px;
      background-color: #d2baba;

      transition: all 0.75s ease;

      .filter_dropdowns_wrapper {
        margin: 15px 10px 5px;

        .filter_dropdown {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          select {
            height: 30px;
            align-self: center;
          }
        }
      }

      .filter_tags_wrapper {
        display: grid;
        gap: 10px;
        margin: 10px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-auto-rows: minmax(45px, auto);

        .filter_tag {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          cursor: pointer;
          background-color: black;
          color: #8b0000;
        }
      }

      .filter_menu_buttons_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 20px;

        #filter_reset_button {
          background-color: #de0a0a;
        }

        #filter_apply_button {
          background-color: #316d2d;

        }
      }
    }

    .reserve_popup {
      @include centered-popup($reserve-popup-width, $reserve-popup-z-index);
      display: none;
      flex-direction: column;
      align-items: center;
      top: 100px;
      height: 450px;
      background-color: #1e314c;

      .name_and_price_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 20px 0 5px;
        color: #efefd8;
        font-size: 20px;
      }

      .date_inputs_wrapper {
        margin-bottom: 5px;
      }

      .credentials_inputs_wrapper {
        margin: 5px 0 10px;
      }

      .reserve_popup_buttons_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;

        #reserve_cancel_button {
          background-color: #de0a0a;
        }

        #reserve_reserve_button {
          background-color: #316d2d;
        }
      }

      .input_wrapper {
        margin: 15px 0;

        label {
          display: block;
          text-align: left;
          margin: 5px 0;
          color: #efefd8;

          h4 {
            margin: 10px 0;
          }
        }
      }
    }

    .reserve_popup_dimmed_overlay {
      @include dimmed-overlay($reserve_popup_dimmed_overlay-z-index)
    }

    .side_menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      height: 100%;
      width: 0;
      z-index: $side-menu-z-index;
      top: 0;
      right: 0;
      background-color: #e39898;

      .side_menu_item {
        position: relative;
        width: 0;
        margin: 10px 0;
        background-color: #b55959;

        .delete_side_menu_item_button {
          display: none;
          position: absolute;
          width: 20px;
          height: 20px;
          line-height: 20px;
          top: 0;
          right: 0;
          background-color: darkred;
        }
      }
    }

    .side_menu_dimmed_overlay {
      @include dimmed-overlay($side-menu-dimmed-overlay-z-index)
    }

    .hotel_list {
      display: grid;
      gap: 20px 40px;
      justify-items: center;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-auto-rows: auto;

      .hotel {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: orange;

        .country_and_city_wrapper {
          text-align: center;
        }

        .hotel_image {
          width: 300px;
          height: 200px;
          margin: 0 20px 25px;
        }

        .hotel_tags {
          width: 300px;
          text-align: center;
        }

        .close_button {
          display: none;
        }

        .hotel_description {
          display: none;
        }

        .room_list {
          display: none;
        }
      }

      .hotel_expanded {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: calc(100% - #{$navbar-height});
        overflow: auto;

        .close_button {
          display: block;
          position: absolute;
          top: 5px;
          right: 5px;
          background-color: #de0a0a;
        }

        .hotel_description {
          display: block;
          margin: 10px 20px;
          width: 85%;
        }

        .room_list {
          display: flex;
          flex-direction: column;
          margin-top: 100px;
          background-color: #c1a72e;

          .room_wrapper {
            display: grid;
            margin: 5px;
            padding: 10px;
            background-color: #dd9745;
            grid-template-areas:
            "image info price"
            "name info button";
          }

          .room_image {
            grid-area: image;
            width: 225px;
            height: 150px;
            margin: 0;
          }

          .room_name {
            grid-area: name;
            text-align: center;
            margin: 10px 0;
          }

          .room_info {
            grid-area: info;
            margin: 0 10px;
          }

          .room_price {
            grid-area: price;
            margin: 0;
            text-align: center;
          }

          .reserve_button {
            grid-area: button;
            background-color: #3d0bb3;
            margin: 0 0 10px;
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 30px 0;

    a {
      float: left;
      width: 60px;
      margin: 0 8px;
      padding: 8px 16px;
      text-decoration: none;
      cursor: pointer;
      color: white;
      background-color: #3c146b;
      border-radius: 5px;
    }
  }
}