//-----------------Index-CSS-----------------

body {
  margin: 0;
}

.main-page-wrapper {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas:
          "logo prof-page menu-exp"
          "content content content"
          "footer footer footer";

  .site-logo {
    background-color: #83d777;
    grid-area: logo;
  }

  .profile-page-icon {
    background-color: #cbcd74;
    grid-area: prof-page;
  }

  .menu-expander {
    background-color: #d07676;
    grid-area: menu-exp;
  }

  .main-content {
    background-color: #798fd7;
    grid-area: content;
  }

  .site-footer {
    background-color: #cd76b7;
    grid-area: footer;
  }
}


//-----------------Menu-CSS-----------------

.menu-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
          "menu-name menu-clps"
          "content content";

  .menu-name {
    background-color: #409839;
    grid-area: menu-name;

    h2 {
      margin: 0;
    }
  }

  .menu-collapser {
    background-color: #a03939;
    grid-area: menu-clps;
  }

  .main-content {
    background-color: #354a94;
    grid-area: content;

    a {
      color: black;
      text-decoration: none;
    }
  }
}


//-----------------Hotel-List-CSS-----------------

.info-page-wrapper {
  //background-color: #404048;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 3fr 2fr 1fr 1fr;
  grid-template-areas:
          "logo logo logo logo logo prof-page menu-exp"
          "title title title title title title title"
          ". picture picture picture picture picture ."
          ". . . rating rating rating ."
          "info info info info info info info"
          ". . . more more more more"
          "address address address address address address address"
          "footer footer footer footer footer footer footer";

  .site-logo {
    background-color: #83d777;
    grid-area: logo;
  }

  .profile-page-icon {
    background-color: #cbcd74;
    grid-area: prof-page;
  }

  .menu-expander {
    background-color: #d07676;
    grid-area: menu-exp;
  }

  .title {
    background-color: #d79277;
    grid-area: title;
    justify-self: center;
  }

  .picture {
    background-color: #77d4d7;
    grid-area: picture;
    justify-self: center;
  }

  .rating {
    background-color: #8977d7;
    grid-area: rating;
    justify-self: end;
  }

  .info {
    background-color: #d77795;
    grid-area: info;
  }

  .to-more-info {
    background-color: #77d7b1;
    grid-area: more;
    justify-self: end
  }

  .address {
    background-color: #d7b777;
    grid-area: address;
  }

  .site-footer {
    background-color: #cd76b7;
    grid-area: footer;
  }
}