$navbar-height: 50px;
$filter-menu-width: 400px;


html {
  scroll-behavior: smooth;
  overflow-y: visible;

  body {
    margin: $navbar-height 0 0 0;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      position: fixed;
      z-index: 980;
      top: 0;
      width: 100%;
      height: $navbar-height;

      box-shadow: 0 4px 10px -1px black;
      background-color: rebeccapurple;
    }

    .filter_menu {
      width: $filter-menu-width;
      height: 200px;
      top: -500px;
      left: 50%;
      margin-left: -$filter-menu-width / 2;
      z-index: 985;
      position: fixed;
      transition: all 0.75s;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
      background-color: black;
    }

    aside {
      position: fixed;
      height: 100%;
      width: 0;
      z-index: 1000;
      top: 0;
      right: 0;
      transition: 0.5s;
      background-color: black;
      color: wheat;
    }

    .dimmed_overlay {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 990;
      background-color: rgba(0, 0, 0, 0.85);
    }
  }
}