$navbar-height: 50px;
$filter-menu-width: 300px;
$filter-menu-height: 400px;


html {
  scroll-behavior: smooth;
  overflow-y: visible;

  body {
    margin: $navbar-height 0 0 0;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      position: fixed;
      z-index: 980;
      top: 0;
      width: 100%;
      height: $navbar-height;

      box-shadow: 0 4px 10px -1px black;
      background-color: rebeccapurple;
    }

    .filter_menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      position: fixed;
      width: $filter-menu-width;
      height: $filter-menu-height;
      top: -1000px;
      left: 50%;
      margin-left: -$filter-menu-width / 2;
      z-index: 985;
      background-color: #d2baba;

      transition: all 0.75s ease;

      .filter_items_wrapper {
        display: grid;
        gap: 10px;
        margin: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(40px, auto);

        .filter_item {
          display: flex;
          justify-content: center;
          align-items: center;
          user-select: none;
          background-color: black;
          color: darkred;
        }
      }

      .filter_buttons_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 20px;

        .filter_cancel_button {
          background-color: #de0a0a;
          width: 50px;
          height: 25px;
        }

        .filter_apply_button {
          background-color: #316d2d;
          width: 50px;
          height: 25px;
        }
      }
    }

    aside {
      position: fixed;
      height: 100%;
      width: 0;
      z-index: 1000;
      top: 0;
      right: 0;
      transition: 0.5s;
      background-color: black;
      color: wheat;
    }

    .dimmed_overlay {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 990;
      background-color: rgba(0, 0, 0, 0.85);
    }

    .hotel_list {
      display: grid;
      gap: 10px;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: minmax(40px, auto);
    }
  }
}